table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.matchespage > button {
  margin: 600px;
  padding: 16px 20px;
  font-size: 1rem;
  
}
